body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
/* footer */
.fa-compass{
    color: #fe424e;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-link a{
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: #222222;
}
.f-info-link:hover{
    text-decoration: underline;
}

.f-info-social i{
    margin-top: 1rem;
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    gap: .8rem;
}
.f-info-link,.f-info-social,.f-info-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* card */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

/* card-effect */
.card-img-overlay{
    text-align: center;
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: .2;
    background-color: white;
}

.edit-btn,.add-btn{
    background-color: #fe424e !important;
    border: none !important;
}


/* show page */
/* show page */

.show-img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.btns{
    display: flex;
    gap: 1rem;
}

.card-body{
    padding: 1rem;
}
/* .box
    width: 90%;
    max-width: 1400px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.card{
     width: 18rem;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;

}
.card img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
} */